<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>hfc</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  {% load static %}
  <link href="{% static 'assets/img/himan.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/himan.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <ul>
          <li><i class="icofont-envelope"></i><a href="mailto:contact@example.com">himanshu.chughpnp@gmail.com</a></li>
          <li><i class="icofont-phone"></i>8295520122</li>
          <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Mon-Sat</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">
      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><img src="{% static 'assets/img/himan.jpg' %}"></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Gallery</a></li>
          <li><a href="#timing">Timing</a></li>
          <li><a href="#pricing">Package</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>HIMANSHU FITNESS CHALLENGE</h1>
    
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>Why Himanshu Fitness Gym </h3>
              <p>
                HFC Specialises in 90 Days fitness Program. This Program will help you become from fat to fit in just 90 days
                HCF specialises in safe cardiovascular exercise programs to enable you to improve your lifestyle,health and general well-being. Exercise is great for weightloss, shaping and toning. 
              </p>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container">
        <h4 data-aos="fade-up">About us</h4>
        <div class="row">
          
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3 data-aos="fade-up">HIMANSHU FITNESS CHALLENGE</h3>
            <p data-aos="fade-up">If you are looking to join a supportive, welcoming gym community with people of all fitness level who want to see you succeed, you have come to the right place.</p>
            <p data-aos="fade-up">Mr.Himanshu,Mrs.Prachi and their team will give their best to you.</p>
            <p data-aos="fade-up">HFc is here to empower others to live their healthiest and happiest lives. Dream body goals are not just meant for dreams, they are to be worked hard in reality and we are here to help you achieve your dream body.</p>

            <div class="icon-box" data-aos="fade-up">
              <h4 class="title"><a href="">Coaching and training services</a></h4>
              <p class="description">Our certified Personal Trainers create the  perfect programmes to help you reach your goals, designed 100% and they will be cheering you when you cross that finish line like a badass. We are here to provide a variety of training options, guidance, friendly support and to help you stay on track and reach your goals in our club.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <h4 class="title"><a href="">Group Training </a></h4>
              <p class="description">Full body workouts designed to build strengh and endurance, using the energy of the group and the expertise of the. Certified Personal Trainer </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title">Personal training</h4>
              <p class="description">One on one personalised woekouts with a certified Personal Trainer designed to make you stronger fromm inside out </p>
            </div>

          </div>
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=FkaCPJxtPz0" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
      <!-- ======= Values Section ======= -->
    <section id="values" class="values">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url(static/assets/img/values-1.jpg);">
              <div class="card-body">
                <h5 class="card-title">Our Mission</h5>
                <p class="card-text">Our Mission is to give people healthy and happy life. Our mission is to make India fit and healthy.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(static/assets/img/values-2.jpg);">
              <div class="card-body">
                <h5 class="card-title">Our Plan</h5>
                <p class="card-text">Our plan is to open more branches all over india and we definitely give you more results in less time.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(static/assets/img/values-2.jpg);">
              <div class="card-body">
                <h5 class="card-title">Our Vision</h5>
                <p class="card-text">Our vision is to give you a fat to fit life in just 90 days.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(static/assets/img/values-4.jpeg);">
              <div class="card-body">
                <h5 class="card-title">Our Care</h5>
                <p class="card-text">We have a team of certified trainers like SIS (Sports Injury Specialist), Dietitian, Personal coaches. Also we have facilities like fire extinguisher, lockers, first-aid, changing Room, security Guard.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Values Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="section-title" data-aos="fade-up">
          <h2>Transformation</h2>
        </div>
      <div class="container" data-aos="fade-up">
        <div class="owl-carousel clients-carousel">
          {% for i in Transformationimg %}
          <img src="/media/{{i.image}}">
          {% endfor %}
        </div>
      </div>
    </section><!-- End Clients Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">
        <div class="section-title">
          <h2 data-aos="fade-up">Our Online and Offline Membership Packeges</h2>
        </div>
        <div class="row">
          {% for i in Packages %}
            <div class="col-lg-3 col-md-6" data-aos="fade-up">
              <div class="box">
                <h3>{{i.month}} Month </h3>
                <h4><sup>₹</sup>{{i.singlePrice}}<span>(Single)</span></h4>
                <h4><sup>₹</sup>{{i.couplePrice}}<span>(Couple)</span></h4>
                <ul>
                  <li>{{i.facility1}}</li>
                  <li>{{i.facility2}}</li>
                </ul>
                <div class="btn-wrap">
                  <a href="/paymenta/{{i.id}}" class="btn-buy">Get Now</a>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
               <div class="btn-more">
                <a href="/morepackage" class="btn-buy">More Plan</a>
              </div>
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Our mission is to provide fitness solutions to people by using our Team of Expert and Qualified Trianers and Nutritionists. Spread in thousands of square feet in approved commercial premises with extraordinary ambience, addiction india is the onlyfitness center with a combination of luxury and Professionalism.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><img style="width: 80px;" src="{% static 'assets/img/services/weight-loss-icon-20.png' %}"></div>
              <h4 class="title">Weight Training</h4>
              <p class="description">Weight Training exercises help you strengthen and tone-up your muscles, keep you in shape and improve your posture.</p>
              <p class="description">This section has ample state of theart improved single stations gyms coupled with host of additional free weights and the most needed guidance to help you out.
                
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img style="width: 90px;" src="{% static 'assets/img/services/cardio.png' %}"></div>
              <h4 class="title">Cardio Services</h4>
              <p class="description">Cardio vascular exercises help you strenthen the heart and lungs, the critical components of your body and keep you in top of your Physical and Mental Health.</p>
              <p class="description">This section has the state of the art computerized equipment including Treadmills Cross Trainers and variety of bikes.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img style="width: 90px;" src="{% static 'assets/img/services/locker.jpg' %}"></div>
              <h4 class="title">Lockers</h4>
              <p class="description">Lockers are availabek to keep your personal belonging sage while our unwind and workout to re-energize yourself.As  needed,cleen annd fresh towels are also provided</p>
              <p class="description">We provide complimentary Diet Counseling sessions to all our customers in order to help them achieve their desired results.</p>
              
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img style="width: 90px;" src="{% static 'assets/img/services/perssional.jpg' %}"></div>
              <h4 class="title">Personal Training</h4>
             <p class="description">We have Professionally Certified and Qualified Personal Trainers who can special Attention to an individuals'need and expectation.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><img style="width: 90px;" src="{% static 'assets/img/services/wifi.jpg' %}"></div>
              <h4 class="title">Wi-Fi</h4>
              <p class="description">We provide Wi-Fi service,Wi-Fi at your gym or fitness center can keep members at your facility for longer periods.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><img style="width: 90px;" src="{% static 'assets/img/services/music.png' %}"></div>
              <h4 class="title">Music</h4>
              <p class="description">Gyms are no exceptionn in that sense since music also help to produce that feeling of relaxation so relevant when it comes to achievig.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
<!----------------- packege -------------------------
============ packege ======================----->   
  
    <!---------==== TIMING=====--------------
      ==-------------------------------------->
      <section id="timing" class="timing">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Our Gym Timing </h2>
            <div class="row">
              <div class="col-lg-6">
                <div class="icon-box">
                  <h3>Morning Time</h3>
                  <ul>
                    <li>1st Batch-(PT) 5.00Am to 6.30am</li>
                    <li>2nd Batch-(Group Batch) 6.30am to 7.30am for Girls</li>
                    <li>3nd Batch-(Group Batch) 7.30am to 8.30am for Boys</li>
                    <li>4nd Batch-(Group Batch) 8.30am to 9.30am for Girls</li>
                    <li>5nd Batch-(Group Batch) 10.00am to 11.30am for Girls</li>
                  </ul>
                </div>  
                
              </div>
              <div class="col-lg-6">
                <div class="icon-box">
                  <h3>Evening Time</h3>
                  <ul>
                    <li>6st Batch-(Group Batch) 4.00pm to 5.00pm</li>
                    <li>7nd Batch-(Mix Batch) 5.30pm to 7.00pm for Boys Girls(3-4 clients only)</li>
                    <li>8nd Batch-(Group Batch) 6.30pm to 7.30pm for Boys</li>
                    <li>9nd Batch-(Boys) 7.30pm to 8.30pm (we will start very soon)</li>  
                  </ul>
                  #stayfitwithHFC REGARDS HIMANSHU FITENESS CHALLENGE      
                </div>

              </div>
            </div>
          <!--   <div class="btn-wrap">
                <a href="#" class="btn-buy">Download timing in PDF</a>
            </div> -->
          </div>
        </div>        
      </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-8">
            <h2>HIMANSHU FITNESS CHALLENGE</h2>
          </div>
          <div class="col-lg-2">
            <div class="text-center">
              <i class='bx bx-phone'></i>
            <p>8295520122</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="section-title">
          <h2 data-aos="fade-up">Gallery</h2>
        
        <div class="owl-carousel clients-carousel">
          {% for i in gellaryimg %}
          <img src="/media/{{i.image}}">
          {% endfor %}
        </div>
        <div class="btn-wrap">
          <a href="/more_gallery" class="btn-buy">More Gallery</a>
        </div>
       </div> 
      </div>
    </section>
      </div>
    </section><!-- End Portfolio Section -->
    
    <!-- ======= Testimonials Section ======= -->
    <section id="rule" class="rule">
      <div class="container" data-aos="fade-up">
        <div>
          <h2>Our Gym Rules</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
           <div class="box">
             <p>Only 2 Days demo class  </p>
             <p>Full Advance fee</p>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
           <div class="box">
            <div class="text-center">
              <p>No Refunds</p>
              <p>No Adjustment of fee</p>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
           <div class="box">
             <p>The Fee Structure is Non-Negotiable, Please don't humiliate yourself by asking for discounts.</p>
             
           </div>
          </div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Contact</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>SCO 236-237, Above State Bank Of India, 2nd Floor 13-17, Huda Shopping Complex Panipat(132103)</p>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p style="margin-left: 12px;">himanshu.chughpnp@gmail.com</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>Head-Office. 0180-4067667</p>
              <p>8295520122<br>7015579940</p>

            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
    <!--=======================================================
      ============ social links ==========================---->
    
    <section id="ourlink" class="ourlink">
      <div class="container" data-aos="fade-up">
        <div>
          <h2>Touch With Us</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">

            <div class="social-links text-center">
              <a style="background:#2962ff" href="http://www.facebook.com/fitnesschallenge01/" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a style="background:#4682B4" href="http://www.facebook.com/fitnesschallenge01/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a style="background:	#e43a3af1 " href="https://www.instagram.com/himanshufitnesschallenge/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a style="background:#3CB371 " href="#" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
              <a style="background:	#FFA500" href="" class="snapchat"><i class="bx bxl-snapchat"></i></a>
            </div>
            <p style="margin-top: 12px;">Touch with Us our social links <p>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="text-center zoom-app">
             <a href="#" class="Zoom"><i class="bx bxl-zoom"></i></a>
           </div>
           <p style="margin-top: 12px;">Zoom app for online Training <p>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
           <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </section><!-- Ennnnnn---->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3 style="color:white;">SBT Professional</h3>
            <p>
              152,Mugal Canal<br>
              Second floor<br>
              Karnal <br><br>
              <strong>Phone:</strong>8295393035<br>
              <strong>Email:</strong>Contact@sbtprofessionalsgmail.com<br>
            </p>
          </div>
          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Contact With Us</h4>
            <div class="social-links">
              <a style="background:#2962ff" href="https://twitter.com/SBTProfessiona3?s=09" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a style="background:#4682B4" href="https://www.facebook.com/SBTProfessionals" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a style="background:	#e43a3af1" href="https://www.instagram.com/sbt_professionals/?r=nametag" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a style="background:	#FFA500" href="#" class="snapchat"><i class="bx bxl-snapchat"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/maina.js' %}"></script>

</body>

</html>