<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>More Gallery</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'assets/img/himan.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/himan.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/abc.css' %}" rel="stylesheet"> 
</head>
<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <ul>
          <li><i class="icofont-envelope"></i><a href="mailto:contact@example.com">himanshu.chughpnp@gmail.com</a></li>
          <li><i class="icofont-phone"></i>8295520122</li>
          <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Mon-sat</li>
        </ul>

      </div>
    </div>
  </section>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div style="background-color:#000;"class="container-fluid">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li style="color: #fff;">More Gallery</li>
        </ol>
        <h2 style="color:#ff0000">HFC</h2>
      </div>
    </section><!-- End Breadcrumbs -->

   <!-----------------====== Payment mothed ========
    =============================================--->
    <section id="rewarda" class="rewarda">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 data-aos="fade-up">Our Gym Results</h2>
        </div>

        <div class="owl-carousel clients-carousel">
          {% for i in Resultsimg %}
          <img src="/media/{{i.image}}">
          {% endfor %}
        </div>

      </div>
    </section>
<!-----------------====== Payment mothed ========
    =============================================--->
    <section id="rewarda" class="rewarda">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 data-aos="fade-up">Our Gym Rewards</h2>
        </div>

        <div class="owl-carousel clients-carousel">
          {% for i in Rewardsimg %}
          <img src="/media/{{i.image}}">
          {% endfor %}
        </div>

      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3 style="color:white;">SBT Professional</h3>
            <p>
              152,Mugal Canal<br>
              Second floor<br>
              Karnal <br><br>
              <strong>Phone:</strong>8295393035<br>
              <strong>Email:</strong>Contact@sbtprofessionalsgmail.com<br>
            </p>
          </div>
          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4 style="color:#fff">Contact With Us</h4>
            <div class="social-links">
              <a style="background:#2962ff" href="https://twitter.com/SBTProfessiona3?s=09" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a style="background:#4682B4" href="https://www.facebook.com/SBTProfessionals" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a style="background:	#e43a3af1" href="https://www.instagram.com/sbt_professionals/?r=nametag" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a style="background:	#FFA500" href="#" class="snapchat"><i class="bx bxl-snapchat"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/maina.js' %}"></script>

</body>

</html>